/*google fonts OU plugin whatfonts*/

body{
    font-family: 'Roboto', sans-serif;
    color: #666;
    line-height: 1.6;
}
a{
    transition: color .2s linear, border .2s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #49bf9d;
}
a:hover{
    border-bottom-color: transparent;
}
p{
    margin: 0 0 2em;
}
img{
    max-width: 100%; /*permite ajustar ate a largura max da imagem*/
}
h1, h2, h3, h4, h5, h6{
    color: #787878;
    font-weight: normal;
    margin: 1em 0; /*em sempre é relativo ao font-size*/
}
h1{
    font-size: 36px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 22px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 14px;
}
sub, sup{
    font-size: 12px;
}
blockquote{
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0 .5em 1.5em;
}
blockquote p{
    margin-bottom: 0;
}
code{
    background-color: #f7f7f7;
    border-radius: .35em;
    border: 2px solid #efefef;
    font-size: .9em;
    padding: .25em .65em;
    font-family: "courier new", monospace;
    color: #929292;
}
pre code{
    display: block;
}

ul, ol{
    margin: 0;
    padding: 0;
    padding-left: 1em;
}
li{
    padding-left: .5em;
}
.ul-alternate{
    list-style-type: none;
    padding-left: 0;
}
.ul-alternate li{
    border-bottom: 2px solid rgb(226, 226, 226);
    padding-left: 0;
}
.ul-alternate li:last-child{
    border: 0;
}
.ul-icon{
    list-style-type: none;
    padding-left: 0;
}
.ul-icon li{
    display: inline-block;
    font-size: 2em;
    color: #49bf9d;
}
input, label, textarea, select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
input, textarea, select{
    background-color: #efefef;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    margin-bottom: 10px;
}
input:focus, textarea:focus{
    border: 2px solid #49bf9d;
    outline: none;
}
input[type="checkbox"], input[type="radio"]{
    width: auto;
}
textarea{
    height: 10em;
}
.buttom-default{
    background-color: #49bf9d;
    border: 3px solid #49bf9d;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .8em;
    display: inline-block; /*precisa transformar o botáo em elemento de bloco nesse caso porque ele ta recebendo formatacoes que só nao dao erro em elementos de linha*/
    width: auto;
    transition: all .4s;
    cursor: pointer;
}
.buttom-default:hover{
    background-color: #57dab5;
    border-color: transparent;
}
.buttom-default-stroke{
    background-color: white;
    border-color: #efefef;
    color: inherit;
}
.buttom-default-stroke:hover{
    color: #49bf9d;
    border-color: #49bf9d;
    background-color: white;
}
.buttom-default-small{
    font-size: 0.6em;
}
.buttom-default-big{
    font-size: 1em;
}
.buttom-default-full{
    display: block;
    text-align: center;
}
.imagem-link{
    border: 0;
}
.table{
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
    text-align: left;
}
.table td{
    padding: .75em;
}
.table th{
    background-color: rgb(224, 224, 224);
    padding: .75em;
}
.table tbody tr td{
    border-bottom: 1px solid #ccc;
}
.table tbody tr:first-child td{
    border-top: 2px solid rgb(136, 136, 136);
}
.table tbody tr:last-child td{
    border-bottom: 2px solid rgb(136, 136, 136);
}
.table tbody tr:nth-child(even) td{ /*even=> pega todos os filhos pares/ odd=> pega tds os filhos impares*/
    background-color: #eee;
}
.table-alternate tbody td, .table-alternate tbody tr:last-child td, .table-alternate tbody tr:first-child td{
    border: 1px solid #ddd;
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    background-color: orchid;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(../images/overlay.png), url(../images/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;
}
.main-header-title{
    font-size: 20px;
    line-height: 1.5;
    color: rgba(255, 255, 255, .6);
    font-weight: normal;
    text-align: right;
}
.main-header-title strong{
    color: white;
    font-weight: normal;
}
.main-header-link{
    color: inherit; /*herda a cor do elemento pai, facilitando a manutencao*/
}
.main-header-link:hover{
    color: #49bf9d;
}
.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
}
.recent-works-card{
    font-size: 16px;
    text-align: center;
}
.title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    
}
.recent-works-card img{
    border-radius: 10px;
    overflow: hidden;
}
.main-header-link img{
    border-radius: 50%;
    overflow: hidden;
}
.img-left{
    float: left;
    margin-right: 15px;
    border-radius: 10px;
}
.img-right{
    float: right;
    margin-left: 15px;
    border-radius: 10px;
}
.gallery-img img{
    width: 100%;
}
.gallery-thumb img, .gallery-img img{
    margin-bottom: 2%;
    border-radius: 10px;
}
.main-footer{
    position: fixed;
    bottom: 0px;
    width: 35%;
    left: 0;
    padding: 0 54px 72px 0;
    box-sizing: border-box;
    text-align: right;    
}
.main-footer a{
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    border-bottom: transparent;
    font-size: 23px;
}
.main-footer a:hover{
    color: #49bf9d;
}
.hidden{ /*se usasse só "display:none" ou "visibility:hidden"náo ia adiantar nada porque ia continuar náo sendo acessivel por nao ser lido pelos leitores de tela*/
    overflow: hidden;
    width: 0;
    height: 0;
    display: block;
}
.copyright{
    list-style: none;
}
.copyright a{
    font-size: 15px;
    display: inline-block;
    border-bottom: 1px dotted;
}
.copyright a:hover{
    border-bottom: transparent;
}
.copyright li{
    display: inline-block;
    font-size: .8em;
    padding: 0 0.75em;
    line-height: 1;
    border-left: solid 1px rgba(255, 255, 255, 0.25);
}
.copyright li:first-child {
    border-left: 0;
}
.copyright li:last-child {
    padding-right: 0;
}

/* Grid */
.row{
    overflow: auto;
}
.col-2{
    width: 48.5%;
    float: left;
}
.col-2:first-child{
    margin-right: 1.5%;
}
.col-2:last-child{
    margin-right: 1.5%;
}
.col-2-3{
    width: 65%;
    float: left;
}
.col-1-3{
    width: 32%;
    float: left;
}
.col-1-3:nth-child(3n - 2){ /*a cada multiplo de 3 (3n) -2... (1n) = todos multiplos de 1, (2n)= todos multiplos de 2, etc....*/
    margin-right: 2%;
}
.col-1-3:nth-child(3n){
    margin-left: 2%;
}
.col-2-3 + .col-1-3, .col-1-3 + .col-2-3{/*faz a formatacao na col-1-3 que vem logo apos col-2-3.... vai selecionar justamente a parte do get in touch*/
    margin-left: 2%;
}